.edudms_tiles_wrapper {
	display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: baseline;
}

.edudms_tile_wrapper {
	
}

.edudms_tile_title {
	
}

.edudms_tile_picture {
	
}

.edudms_tile_info_wrapper {
	display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: space-around;
		align-items: baseline;
}





/**********************************************************************
People Tools CSS
**********************************************************************/

.edudms-pt-profile-pic.author-page {
	border-bottom-left-radius: 5%;
	border-bottom-right-radius: 5%;
	border-top-left-radius: 5%;
	border-top-right-radius: 5%;
}

/****** People List Page CSS ******/

.edudms-pt-list-block-wrapper:hover {
	background-color: #E7DCBA;
	-webkit-transition: background-color 0.5s ease;
	-moz-transition: background-color 0.5s ease;
	-o-transition: background-color 0.5s ease;
	-ms-transition: background-color 0.5s ease;
	transition: background-color 0.5s ease;
}

.edudms-pt-list-block-wrapper {
	border-radius: 10px;
}


.edudms-pt-list-first-line-wrapper {
	display: grid;
	grid-template-columns: 30% 26% 22% 22%;
	grid-template-rows: 25px;
	grid-column-gap: 2px;
	grid-row-gap: 2px;
	width: 98%;
	padding-left: 3px;
	padding-right: 3px;
}

.edudms-pt-list-block-wrapper .pt-name {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: end;
}

.edudms-pt-list-block-wrapper .pt-email {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
}

.edudms-pt-list-block-wrapper .pt-phone {
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: end;
}

.edudms-pt-list-block-wrapper .pt-office {
	grid-column-start: 4;
	grid-column-end: end;
	grid-row-start: 1;
	grid-row-end: end;
}

.edudms-pt-list-block-wrapper .pt-title-block {
height: 25px;
width: 98%;
}








/****** Profile Page CSS ******/

.edudms-pt-wrapper {
	display: grid;
	grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
	grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
	grid-column-gap: 2px;
	grid-row-gap: 2px;
	width: 95%;
	/* height: 300px; */
}

.edudms-pt-block-picture {
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 4;
}

.edudms-pt-block-title {
	grid-column-start: 4;
	grid-column-end: end;
	grid-row-start: 1;
	grid-row-end: 2;
}

.edudms-pt-block-one {
	grid-column-start: 4;
	grid-column-end: end;
	grid-row-start: 2;
	grid-row-end: 4;
}

.edudms-pt-block-two {
	grid-column-start: 1;
	grid-column-end: end;
	grid-row-start: 4;
	grid-row-end: 10;
}

.edudms-pt-block-three {
	grid-column-start: 1;
	grid-column-end: end;
	grid-row-start: 10;
	grid-row-end: end;
}

/****** Profile Page CSS ******/

.edudms-pt-profile-wrapper {
	display: grid;
	grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
	grid-template-rows: 80px 200px auto 100px;
	grid-column-gap: 2px;
	grid-row-gap: 2px;
	width: 95%;
	
}

.edudms-pt-profile-block-picture {
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 2;
}

.edudms-pt-profile-block-title {
	grid-column-start: 4;
	grid-column-end: end;
	grid-row-start: 1;
	grid-row-end: 1;
}

.edudms-pt-profile-block-one {
	grid-column-start: 4;
	grid-column-end: end;
	grid-row-start: 2;
	grid-row-end: 3;
}

.edudms-pt-profile-block-two {
	grid-column-start: 1;
	grid-column-end: end;
	grid-row-start: 3;
	grid-row-end: 4;
}

.edudms-pt-profile-block-three {
	grid-column-start: 1;
	grid-column-end: end;
	grid-row-start: 4;
	grid-row-end: end;
}