.edudms-de-wrapper {
	display: grid;
	grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
	grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
	grid-column-gap: 2px;
	grid-row-gap: 2px;
	width: 95%;
	height: 300px;
}

.edudms-de-block-picture {
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 5;
}

.edudms-de-block-title {
	grid-column-start: 4;
	grid-column-end: end;
	grid-row-start: 1;
	grid-row-end: 2;
}

.edudms-de-block-one {
	grid-column-start: 4;
	grid-column-end: end;
	grid-row-start: 2;
	grid-row-end: 5;
}

.edudms-de-block-two {
	grid-column-start: 1;
	grid-column-end: end;
	grid-row-start: 5;
	grid-row-end: 10;
}

.edudms-de-block-three {
	grid-column-start: 1;
	grid-column-end: end;
	grid-row-start: 10;
	grid-row-end: end;
}




































/******************************************
Text Stuff
******************************************/

























/******************************************
Layout Page Visualize Stuff
******************************************/

.edudms-hide {
		display:none;
	
}













